{% extends 'PacksAnSpielBundle::base.html.twig' %}

{% block playground %}
    <div id="playground">
        <div class="jumbotron">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">Hallo Team {{ team.id }}!</h3></div>
                <div class="panel-body">
                    <div class="row">
                        {% for item in subject_list %}
                            <div class="col-md-6">
                                <div class="jumbotron category category{{ item.id }}"
                                     style="background-color: {{ item.todocolor }};">
                                    {{ item.name }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block infobox %}
    <div id="infobox">
        <div class="jumbotron">
            <div id="info" class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">Infos</h3></div>
                <div class="panel-body">
                    <p>Ihr seid <strong>{{ team.countMembers }}</strong> Leute in der Gruppe.</p>
                    {% if team.currentLevel %}
                        <p>Ihr spielt in Level <strong>{{ team.currentLevel.name }}</strong>.</p>
                    {% endif %}
                </div>
            </div>

            <div id="welcome" class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">Eure Aktionen</h3></div>
                <div class="panel-body">
                    <a href="{{ path('logout') }}" class="btn btn-primary btn-lg"
                       role="button">Abbrechen
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
