{% extends 'PacksAnSpielBundle::base.html.twig' %}

{% block playground %}
    <div id="playground" class="box">
        <div class="panel panel-danger">
            <div class="panel-heading"><h3 class="panel-title">Ihr habt einen Joker gespielt!</h3></div>
            <div class="panel-body">
                <div class="row">
                    <h2>Leider gab es ein Problem:</h2>
                    <p>{{ message.messageText }}</p>
                    <p>
                        <a href="{{ path('packsan') }}" class="btn btn-primary btn-lg" role="button">OK</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block infobox %}
    <div id="info" class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">Hallo Team {{ team.id }}!</h3></div>
        <div class="panel-body">
            <p>Ihr seid <strong>{{ team.countMembers }}</strong> Leute in der Gruppe.</p>
            {% if team.currentLevel %}
                <p>Ihr spielt seit {{ level_info.level_duration }} Minuten in Level
                    <strong>{{ team.currentLevel.name }}</strong>.</p>
            {% endif %}
        </div>
    </div>

    <div id="welcome" class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">Eure Aktionen</h3></div>
        <div class="panel-body">
            <a href="{{ path('logout') }}" class="btn btn-primary btn-lg"
               role="button">Abbrechen
            </a>
        </div>
    </div>
    </div>
{% endblock %}
